	@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, folder, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*________________*/

body {
  color: #373737;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #fff;
}

/*First Display*/

.page__firstdisplay {
  background: url(../img/background.png) 0 0/100% 100% no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.page__firstdisplay_nav_list_link {
  font-weight: 600;
  font-size: 16px;
}

.page__firstdisplay_nav_list_link:after {
  display: block;
  content: "";
  min-height: 2px;
  width: 0%;
  background-color: #fff;
  transition: width .3s ease-in-out;
}

.page__firstdisplay_nav_list_link:hover:after,
.page__firstdisplay_nav_list_link:focus:after {
  width: 100%;
}

.page__firstdisplay__nav_nav {
  max-width: 75%;
  margin: 0 auto;
}

.page__firstdisplay__nav_nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page__firstdisplay__titles h1 {
  font-weight: 600;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.page__firstdisplay__titles {
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.page__firstdisplay__subtitles {
  font-weight: 600;
  font-size: 14px;
  text-transform: lowercase;
  color: #fff;
  text-align: center;
}

.page__firstdisplay__subtitles {
	padding: 5% 0 10% 0;
}

.page__firstdisplay__btn {
  text-transform: uppercase;
  text-align: center;
}

.page__firstdisplay__btn_btn {
  font-weight: 600;
  background: #16a085;
  padding: 15px 25px;
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}

.page__firstdisplay__btn_btn:hover {
  box-shadow: 0px 3px 10px #16a085;
}

.page__firstdisplat__buttonbar_image:hover {
  box-shadow: 0 0 10px #bdbbb5;
  border-radius: 15px;
}

.page__firstdisplay_buttonbar {
  max-width: 40%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
}
/*
.page__firstdisplay__nav_2 {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
*/
/*Second Display*/

.bg_d2 {
	background: #f5f6f7;
	position: relative;
	padding: 8% 0;
}

.page__seconddisplay {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.page__seconddisplay__text h2 {
  font-weight: 600;
  font-size: 18px;
  color: #16a085;
  max-width: 280px;
  text-transform: uppercase;
  line-height: 23px;
}

.page__seconddisplay__text p {
  font-size: 12px;
  line-height: 25px;
  padding: 1.5% 0 3% 0;
}

.page__seconddisplay__text {
  max-width: 40%;
}

.page__seconddisplay__text_text {
  font-weight: 600;
}

.page__seconddisplay__text__btn {
  max-width: 135px;
  font-weight: 600;
  background: #16a085;
  padding: 15px 25px;
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
}

.page__seconddisplay__text__btn:hover {
  box-shadow: 0px 3px 10px #16a085;
}

.image_d2 {
	position: absolute;
	bottom: 0;
	right: 5%;
}

/*Third Display*/

.page__thirddisplay {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 3%;
}

.page__thirddisplay__text {
  position: absolute;
  top: 26%;
  left: 57.1%;
}

.page__thirddisplay__text h5{
  color: #16a085;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

.page__thirddisplay__text p {
  max-width: 60%;
  line-height: 20px;
  padding-top: 4%;
  padding-bottom: 70px;
}

.page__thirddisplay__image {
  padding-top: 75px;
  padding-left: 15%;
}

.page__thirddisplay__btn {
  text-transform: uppercase;
  text-align: center;
}

.page__thirdisplay__btn_btn {
  font-weight: 600;
  position: absolute;
  bottom: 0%;
  left: 0;
  background: #16a085;
  padding: 15px 25px;
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
}

.page__thirdisplay__btn_btn:hover {
  box-shadow: 0px 3px 10px #16a085;
}

/*Fourth Display*/

.page__fourthdisplay {
  width: 100%;
  background: #f5f6f7;
  height: 100%;
  position: relative;
}

.page__fourthdisplay__topbar__image img {
  min-width: 100px;
  min-height: 100px;
}

.page__fourthdisplay__topbar__hr {
  padding: 0 10%;
}

.page__fourthdisplay__topbar {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7% 3% 0 10%;
}

.page__fourthdisplay__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page__fourthdisplay__topbar__title h4{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 3%;
}

.page__fourthdisplay__topbar__text_p p{
  font-size: 12px;
  line-height: 15px;
  margin: 0 auto;
}

#gallery {
  position: relative;
  padding-top: 50%;
  -moz-user-select: none; user-select: none;
}

#gallery img {
  position: absolute;
  top: 40.9%;
  left: 12.5%;
  max-width: 24.5%;
  max-height: 49.5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: zoom-in;
  transition: .2s;
}
#gallery img:nth-child(4n-2) {left: 37.5%;}
#gallery img:nth-child(4n-1) {left: 62.5%;}
#gallery img:nth-child(4n) {left: 87.5%;}
#gallery img:nth-child(n+5) {top: 75%;}

#gallery img:focus {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  outline: none;
  pointer-events: none;
}

#gallery img:focus ~ div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  cursor: zoom-out;
}

/*Fifthy Display*/

.page__fifthdisplay {
  width: 100%;
  position: relative;
}

.page__fifthdisplay img {
  width: 100%;
}

.page__fifthdisplay__form__title {
  position: absolute;
  top: -170%;
  left: 0%;
  letter-spacing: 1px;
}

.page__fifthdisplay__form h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  line-height: 28px;
}

.page__fifthdisplay__form {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.page__fifthdisplay__form_form_label_input {
  min-height: 50px;
  border-radius: 5px;
}

.page__fifthdisplay__form_form p {
  display: inline-block;
}

.page__fifthdisplay__form_form_label {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  text-shadow: 0 0 10px #16a085;
}

.page__fifthdisplay__form_form_label_input:focus {
  box-shadow: 0 0 10px #16a085;
}

.page__fifthdisplay__form_form__img__pos {
  position: absolute;
  top: 0;
  right: 0;
}

.page__fifthdisplay__form_form__img__pos__img {
  position: relative;
  background: #16a085;
  min-width: 50px;
  min-height: 50px;
  border-radius: 5px;
  padding-left: 10px;
}

.page__fifthdisplay__form_form__img__pos__img_img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  min-width: 25px;
  min-height: 20px;
}

.page__fifthdisplay__form_form__img__pos__img_img:hover {
  min-width: 30px;
  min-height: 25px;
}

/*Sixth Display*/

.page__sixthdisplay {
  background: #f5f6f7;
  width: 100%;
  min-height: 300px;
}

.page_sithdisplay_text h3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
}

.page_sithdisplay_text p {
  margin: 0 auto;
  max-width: 45%;
  text-align: center;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

.page_sithdisplay_text__images {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.div_p {
	width: 5%;
}

.page_sithdisplay_text__images__image {
  font-weight: 600;
  background: #1abc9c;
  border-radius: 1px;
  text-transform: uppercase;
  min-width: 200px;
  min-height: 40px;
  padding: 14px 0 10px 15px;
  letter-spacing: 3px;
  position: relative;
}

.page_sithdisplay_text__images__image_img {
  position: absolute;
  top: 0;
  right: 0;
  background: #16a085;
  min-width: 40px;
  min-height: 40px;
  padding: 7px 0 7px 9px;
}

.page_sithdisplay_text__images__image_img img:hover {
  min-width: 22px;
  min-height: 25px;
}

.page_sithdisplay_text__images__image:hover {
  text-shadow: black 0 0 2px;
}

.page_sithdisplay_text__images__image_2 {
  font-weight: 600;
  background: #1abc9c;
  border-radius: 1px;
  text-transform: uppercase;
  min-width: 200px;
  min-height: 40px;
  padding: 14px 0 10px 15px;
  letter-spacing: 3px;
  position: relative;
}

.page_sithdisplay_text__images__image_2_img {
  position: absolute;
  top: 0;
  right: 0;
  background: #16a085;
  min-width: 40px;
  min-height: 40px;
  padding: 5px 0 5px 8px;
}

.page_sithdisplay_text__images__image_2:hover {
  text-shadow: black 0 0 2px;
}

.page_sithdisplay_text__images__image_2_img img:hover {
  min-width: 26px;
  min-height: 30px;
}

/*Footer Display*/

.page__footer {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.page__footer__text {
  padding: 40px 0 30px 50px;
}

.page__footer__text__links_link1 {
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding: 0 10px 0 0;
}

.page__footer__text__links_link1:hover {
  font-size: 15px;
  text-decoration: underline;
}

.page__footer__text__links_link2 {
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  border-right: 2px solid #16a085;
  border-left: 2px solid #16a085;
  padding: 0 10px;
}

.page__footer__text__links_link2:hover {
  font-size: 15px;
  text-decoration: underline;
}

.page__footer__text__links_link3 {
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding: 0 0 0 10px;
}

.page__footer__text__links_link3:hover {
  font-size: 15px;
  text-decoration: underline;
}

.page__footer__text__text {
  font-weight: 600;
  color: #373737;
  padding-top: 15px;
}

.page__footer__text_image {
  padding: 30px 50px 30px 0;
}

/*Адаптив*/

/*@media (max-width: 1920px) {
	.page__firstdisplay {
		background: #000;
	}
}*/

@media (max-width: 992px) {
	.bg_d2 {
		padding-bottom: 0;
	}
	.page__seconddisplay {
		max-width: 100%;
	}
	.page__seconddisplay__text {
		margin: 0 auto;
		text-align: center;
		max-width: 80%;
		margin-bottom: 5%;
	}
	.page__seconddisplay__text h2,
	.page__seconddisplay__text__btn {
		margin: 0 auto;
	}
	.image_d2 {
		position: static;
		text-align: center;
	}
}

@media (max-width: 767px) {
	.page__firstdisplay__nav {
		display: none;
	}
/*Sixth*/
	.page_sithdisplay_text__images {
		display: block;
		max-width: 30%;
		margin: 0 auto;
	}
	.page_sithdisplay_text__images__image {
		margin-bottom: 5%;
	}
	.page_sithdisplay_text p {
		padding-bottom: 3%;
	}
	/*Footer*/
	.page__footer {
		font-size: 12px;
	}
	.page__footer__text {
		display: block;
	}
	.page__footer__text__links_link1 {
		padding: 0;
	}
	.page__footer__text__links_link2 {
		border-right: 0;
		border-left: 0;
		padding: 0;
	}
	.page__footer__text__links_link1:hover {
		font-size: 13px;
		text-decoration: underline;
	}
	.page__footer__text__links_link2:hover {
		font-size: 13px;
		text-decoration: underline;
	}
	.page__footer__text__links_link3{
		width: 100%;
	}
	.page__footer__text__links_link3:hover {
		font-size: 13px;
		text-decoration: underline;
	}
}